<!--
List page to show the list when the user has been authenticated.
If the user isn't authenticated the list in the <p> tag is never shown.
-->
<template>
    <q-page class="flex flex-center column">
        <div class="flex justify-center row">
         <p class="q-ma-md" v-for="item in list" :key="`item - ${item}`" > {{item}} </p>
        </div>
        <h1> the list </h1>

        <div class="flex justify-center row">
          <q-btn
            filled
            label="test user"
            @click="test"
          />

          <q-btn v-if="this.$store.getters.authenticated"
            filled
            label="logout"
            @click="logout"
          />

          <q-btn v-else
            filled
            label="back to login"
            @click="backToLogin"
          />
        </div>
    </q-page>
</template>

<script>
export default {
  data () {
    return {
    }
  },

  computed: {
    list () {
      return this.$store.getters.list
    }
  },

  methods: {
    test () {
      this.$store.dispatch('testUserAuth')
    },
    backToLogin () {
      this.$router.push('/login')
    },

    logout () {
      this.$store.dispatch('logout')
    }
  },

  mounted () {
    this.$store.dispatch('fetchList')
  }
}
</script>
