<!--
Login.vue page used to house the login components
-->
<template>
  <q-page class="flex flex-center column">
    <q-form>
      <div class="column q-ma-lg">

        <q-input class="col-6 q-ma-md"
          filled
          v-model="email"
          label = "email address"
        />

        <q-input class="col-6 q-ma-md"
          filled
          v-model ="password"
          label = "password"
          type = "password"
        />

      </div>

      <div class="row justify-center text-center">

       <q-btn class="col-4"
          rounded
          color="primary"
          label="submit"
          @click="login()"
        />

        <q-btn class="col-4"
          rounded
          color="primary"
          label="to list"
          @click="sendToListPage()"
        />

      </div>

      <div v-show="loginError" class="text-center">
          <p> Login details have failed. Please try again </p>
     </div>

    </q-form>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      email: null,
      password: null
    }
  },

  methods: {
    login () {
      this.$store.dispatch('login', { email: this.email, password: this.password })
      // this.$router.push('list')
    },

    sendToListPage () {
      this.$router.push('/list')
    }
  },

  computed: {
    loginError () {
      return this.$store.getters.loginError
    }
  }
}
</script>
